Package: tesseract-ocr-eng
Source: tesseract-eng
Version: 3.01-1ubuntu1
Architecture: all
Maintainer: Jeffrey Ratcliffe <Jeffrey.Ratcliffe@gmail.com>
Installed-Size: 19188
Depends: tesseract-ocr (>= 2.00)
Replaces: tesseract-ocr-data (<< 2)
Provides: tesseract-ocr-language
Section: graphics
Priority: optional
Description: tesseract-ocr language files for English text
 A commercial quality OCR engine originally developed at HP between 1985
 and 1995. In 1995, this engine was among the top 3 evaluated by UNLV. It
 was open-sourced by HP and UNLV in 2005. This package contains the data
 needed for the processing images in English.
