Package: python-tesseract
Version: 0.5-1.1
Architecture: amd64
Maintainer: FreeToGo Nowhere <FreeToGo@gmail.com>
Installed-Size: 212
Depends: python (<< 2.8), python (>= 2.7), python-support (>= 0.90.0), leptonica, libc6 (>= 2.4), libgcc1 (>= 1:4.1.1), libstdc++6 (>= 4.1.1), tesseract-ocr
Section: python
Priority: optional
Description: python2.7-tesseract Wrapper for Python-2.7
 Provides a python wrapper class for tesseract-ocr using swig
 Only svn version of tesseract-ocr is supported for the time being.
