Package: python3-tesseract
Source: python-tesseract
Version: 0.9-0.2ubuntu8
Architecture: amd64
Maintainer: FreeToGo <FreeToGo@gmail.com>
Installed-Size: 4264
Depends: python3 (>= 3.4~), python3 (<< 3.5), libc6 (>= 2.14), libgcc1 (>= 1:4.1.1), liblept4, libopencv-core2.4, libstdc++6 (>= 4.1.1), libtesseract3
Section: python
Priority: optional
Homepage: http://code.google.com/p/python-tesseract/
Description: Tesseract for Python3
 Python-tesseract is a wrapper class for Tesseract OCR that allows any conventional image files
 (JPG, GIF ,PNG , TIFF and etc) to be read and decoded into readable languages.
 No temporary file will be created during the OCR processing.
