Source: tesseract-eng
Section: graphics
Priority: optional
Maintainer: Jeffrey Ratcliffe <Jeffrey.Ratcliffe@gmail.com>
Uploaders: Jeff Breidenbach <jab@debian.org>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.8.4

Package: tesseract-ocr-eng
Architecture: all
Provides: tesseract-ocr-language
Replaces: tesseract-ocr-data (<< 2)
Depends: tesseract-ocr (>= 2.00), ${misc:Depends}
Description: tesseract-ocr language files for English text
 A commercial quality OCR engine originally developed at HP between 1985
 and 1995. In 1995, this engine was among the top 3 evaluated by UNLV. It
 was open-sourced by HP and UNLV in 2005. This package contains the data
 needed for the processing images in English.
