Package: tesseract-ocr-osd
Source: tesseract-osd
Version: 3.01-2ubuntu1
Architecture: all
Maintainer: Jeffrey Ratcliffe <Jeffrey.Ratcliffe@gmail.com>
Installed-Size: 10328
Replaces: tesseract-ocr-data (<< 2)
Section: graphics
Priority: optional
Description: tesseract-ocr language files for orientation and script
 A commercial quality OCR engine originally developed at HP between 1985
 and 1995. In 1995, this engine was among the top 3 evaluated by UNLV. It
 was open-sourced by HP and UNLV in 2005. This package contains the data
 needed for determining orientation and script.
